{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
        <form method="post" action = "{{url_for('add_movie')}}">
            <div class="form-container">
                <input class="btn" type="submit" name="submit" value="Add">
                <label class="input-label">Movie Name</label>
                <input class="inline-form" type="text" name="movie_name" autocomplete="off" required>
                <label class="input-label">Year</label>
                <input class="inline-form" type="text" name="year" autocomplete="off" required>
                <label class="input-label">Country</label>
                <input class="inline-form" type="text" name="country" autocomplete="off" required>
                <label class="input-label">Type</label>
                <input class="inline-form" type="text" name="type" autocomplete="off" required>
                <label class="input-label">Release Date (YY-MM-DD)</label>
                <input class="inline-form" type="text" name="yy-mm-dd" autocomplete="off" required>
                <label class="input-label">Box</label>
                <input class="inline-form" type="text" name="box" autocomplete="off" required>
            </div>
        </form>
    {% endif %}
{% endblock %}