{% extends 'base.html' %}
{% block content %}
    <!-- 添加筛选表单 -->
    <form class="filter-form" method="get" action="{{ url_for('index') }}">
        <label for="year">Filter by Year:</label>
        <input type="text" name="year" id="year" placeholder="Enter year" value="{{ year_filter }}">
        <button type="submit">Apply</button>
    </form>

    <p>{{ movies.total }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}
            <li>
                <a href="{{ url_for('view_movie', movie_id=movie.movie_id) }}">{{ movie.movie_name }}</a> - {{ movie.year }}
                {% if current_user.is_authenticated %}
                    <a class="btn" href="{{ url_for('edit', movie_id=movie.movie_id) }}">Edit</a>
                    <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.movie_id) }}">
                        <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                    </form>
                {% endif %}
                <ul class="float-right">
                    <a class="imdb" href="https://www.imdb.com/find?q={{ movie.movie_name }}" target="_blank" title="Find this movie on IMDb"> IMDb</a>
                    <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.movie_name }}" target="_blank" title="在豆瓣上搜索该电影"> 豆瓣</a>
                </ul>
            </li>
        {% endfor %}
    </ul>
    
    <!-- 翻页链接 -->
<div class="pagination">
    {% if movies.has_prev %}
        <a href="{{ url_for('index', year=year_filter, page=movies.prev_num) }}">Previous</a>
    {% else %}
        <span>Previous</span>
    {% endif %}

    <span>Page {{ movies.page }} of {{ movies.pages }}</span>

    {% if movies.has_next %}
        <a href="{{ url_for('index', year=year_filter, page=movies.next_num) }}">Next</a>
    {% else %}
        <span>Next</span>
    {% endif %}
</div>

    <img alt="Bruh Cat" class="bruh" src="{{ url_for('static', filename='images/bruh.gif') }}" title="Bruh~">
{% endblock %}
